.containertres {
    border-radius: 10px;
    width: 400px;
    height: 50px;
}

#tipocarga {
    border-radius: 10px;
    width: 400px;
    height: 50px;
}

img {
    max-width: 50px;
    max-height: 50px;
}

.container-menu-bar img {
    width: 100%;
}

.sections-menu-bar {
    position: relative;
    left: 6px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    opacity: 0.3;
}

div {
    display: block;
    unicode-bidi: isolate;
}

* {
    color: #2C2C2C;
    background-color: #F0F0F0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    
}

.container-menu-bar {
    position: relative;
    margin-top: 22%;
    display: flex;
    right: 1px;
    justify-content: center;
    width: 100vw;
    height: 60px;
    gap: 350px;
}

.container-accessibility-buttons {
    display: flex;
    position: relative;
    top: 55px;
    margin-left: 1000px;
    width: 100px;
    height: 30px;
    gap: 1px;
    z-index: 1;
}

.container-accessibility-buttons img {
    margin-left: 30px;
    width: 30px;
    height: 30px;
}