.container{
    max-width: 650px;
    margin: 0;
    background-color: #feff00;
    padding: 20px;
    box-sizing: 6px;
    box-shadow: 0 0 10px rgba(82, 15, 15, 0.1);
}

#notificacao1{

}

#notificacao2{

}

#notificacao3{

}

