#carga {
    border-radius: 10px;
    width: 400px;
    height: 50px;
}

#tamanho {
    border-radius: 10px;
    width: 400px;
    height: 50px;
}

#partida {
    border-radius: 10px;
    width: 400px;
    height: 50px;
}