* {
    color: #2C2C2C;
}

h3 {
    position: relative;
    left: 1385px;
    bottom: 570px;
}

body {
    background-color: #F0F0F0;
    overflow: hidden;
}

.container-back {
    position: relative;
    top: 12px;
    width: 30px;
    height: 30px;
}

.container-back img {
    width: 100%;
}

.container-accessibility-buttons {
    display: flex;
    position: relative;
    top: 53px;
    margin-left: 1700px;
    width: 100px;
    height: 30px;
    gap: 1px;
    z-index: 1;
}

.container-accessibility-buttons img {
    margin-left: 30px;
    width: 30px;
    height: 30px;
}

#funcionarios {
    position: relative;
    left: 20px;
}


h1 {
    position: relative;
    left: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
}


.container-menu-bar {
    position: relative;
    bottom: 10px;
    margin-top: 7.4%;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 60px;
    gap: 350px;
}

.sections-menu-bar {
    position: relative;
    left: 6px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    opacity: 0.3;
}

.sections-menu-bar span {
    position: relative;
    left: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.sections-menu-bar a {
    text-decoration: none;
}

.container-menu-bar img {
    width: 100%;
}

#funcionarios {
    position: relative;
    left: 20px;
}

#press-effect:hover{
    opacity: 1;
}

#notifications:hover {
    cursor: pointer;
}


.container-main-sections {
    position: relative;
    bottom: 50px;
    width: 390px;
    height: 590px;
}

.sections-main {
    position: relative;
    top: 50px;
    left: 35px;
    width: 690px; /*390 por 170*/
    height: 170px;
    background-color: rgb(242, 211, 124);
    border-radius: 8px;
    box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.2);
}

.sections-double-left {
    position: relative;
    top: 50px;
    left: 35px;
    margin-top: 10px;
    width: 330px; /*189 por 200*/
    height: 200px;
    background-color: rgb(242, 211, 124);
    border-radius: 8px;
    box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.2);
}

.sections-double-left a {
    text-decoration: none;
}

.sections-double-left p {
    border-radius: 8px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(242, 211, 124);
    
}

.section-double-left-img {
    position: relative;
    bottom: 15px;
    margin-left: 20px;
    padding: 10px;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: rgb(242, 211, 124);
}

.section-double-left-img img {
    position: relative;
    width: 160%;
    left: 45px;
    bottom: 50px;
}

.sections-double-right a {
    text-decoration: none;
}

.sections-double-right {
    position: relative;
    bottom: 165px;
    left: 395px; /*180 por 200*/
    width: 330px;
    height: 200px;
    background-color: rgb(242, 211, 124);
    border-radius: 8px;
    box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.2);
}

.sections-double-right p {
    border-radius: 8px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(242, 211, 124);
}

.section-double-right-img {
    position: relative;
    height: 170px;
    bottom: 37px;
    left: 65px;
    
}

.section-double-right-img img {
    margin-left: 15px;
    width: 50%;
    
}

.sections-main-bottom {
    position: relative;
    bottom: 160px;
    width: 690px; /*390 por 250*/
    height: 290px;
    left: 35px;
    background-color: rgb(242, 211, 124);
    border-radius: 8px;
    box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.2);
}

.sections-main-bottom p {
    border-radius: 8px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(242, 211, 124);
}

@media(max-width: 866px) {
    
    h1 {
        position: relative;
        right: 23px;
        top: 0px;
    }
    
    .container-accessibility-buttons {
        position: relative;
        right: 1400px;
    }

    .container-menu-bar {
        position: relative;
        left: -30px;
        bottom: 2px;
        gap: 55px;
        z-index: 1;

    }

    .sections-main {
        position: relative;
        top: 50px;
        left: 35px;
        width: 390px; /*390 por 170*/
        height: 170px;
    }

    .sections-double-left {
        position: relative;
        top: 50px;
        left: 35px;
        margin-top: 10px;
        width: 189px; /*189 por 200*/
        height: 200px;
 
    }

    .section-double-left-img img {
        position: relative;
        width: 160%;
        left: -30px;
        bottom: 50px;
    }
    
    .sections-double-right {
        position: relative;
        bottom: 165px;
        left: 245px; /*180 por 200*/
        width: 180px;
        height: 200px;
       
    }
    
    .section-double-right-img {
        position: relative;
        height: 170px;
        bottom: 37px;
        left: 4px;
        
    }
    
    .section-double-right-img img {
        width: 90%;
        
    }
    
    .sections-main-bottom {
        position: relative;
        bottom: 160px;
        width: 390px; /*390 por 250*/
        height: 290px;
        left: 35px;
       
    }

    .container-back {
        position: relative;
        top: 50px;
       
    }
    
}