* {
    color: #2C2C2C;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: #F0F0F0;
    overflow-y: hidden;
}

.container-accessibility-buttons {
    display: flex;
    position: relative;
    bottom: 28px;
    margin-left: 260px;
    width: 100px;
    height: 30px;
    gap: 1px;
    z-index: 1;
}

.container-accessibility-buttons img {
    margin-left: 30px;
    width: 30px;
    height: 30px;
}

#funcionarios {
    position: relative;
    left: 20px;
}


h1 {
    position: relative;
    left: 15px;
    bottom: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
}



.container-menu-bar {
    display: flex;
    margin-top: 10px;
    width: 400px;
    height: 60px;
    gap: 29px;
    /*background-color: rgb(255, 0, 0);*/
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.sections-menu-bar {
    position: relative;
    left: 20px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    opacity: 0.3;
}

.sections-menu-bar span {
    position: relative;
    left: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.sections-menu-bar a {
    text-decoration: none;
}

.container-menu-bar img {
    width: 100%;
}

#press-effect:hover {
    opacity: 1;
}

#notifications:hover {
    cursor: pointer;
}

.container-main-sections {
    position: relative;
    bottom: 50px;
    width: 390px;
    height: 590px;
}

.sections-main {
    width: 390px;
    height: 170px;
    background-color: rgb(242, 211, 124);
    border-radius: 8px;
    box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.2);
}

.sections-double-left {
    margin-top: 10px;
    width: 189px;
    height: 200px;
    background-color: rgb(242, 211, 124);
    border-radius: 8px;
    box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.2);
}

.sections-double-left a {
    text-decoration: none;
}

.sections-double-left p {
    border-radius: 8px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(242, 211, 124);
}

.section-double-left-img {
    position: relative;
    bottom: 15px;
    margin-left: 20px;
    padding: 10px;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: rgb(242, 211, 124);
}

.section-double-left-img img {
    background-color: rgb(242, 211, 124);
    width: 100%;
}

.sections-double-right {
    position: relative;
    bottom: 216px;
    left: 210px;
    width: 180px;
    height: 200px;
    background-color: rgb(242, 211, 124);
    border-radius: 8px;
    box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.2);
}

.sections-double-right p {
    border-radius: 8px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(242, 211, 124);
}

.sections-main-bottom {
    position: relative;
    bottom: 200px;
    width: 390px;
    height: 250px;
    background-color: rgb(242, 211, 124);
    border-radius: 8px;
}