* {
    color: #2C2C2C;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: #F0F0F0;
    overflow-y: hidden;
}

.container-accessibility-buttons {
    display: flex;
    position: relative;
    bottom: 28px;
    margin-left: 250px;
    width: 100px;
    height: 30px;
    gap: 1px;
    z-index: 1;
}

.container-accessibility-buttons img {
    margin-left: 30px;
    width: 30px;
    height: 30px;
}

#funcionarios {
    position: relative;
    left: 20px;
}

h1{
    position: relative;
    left: 15px;
    bottom: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
}

.container-sections {
    position: relative;
    width: 360px;
    height: 100px;
    height: 100px;
    margin-left: 10px;
    background-color: rgb(242,211,124);
    font-size: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 7%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.second {
    position: relative;
    bottom: 80px;
    width: 360px;
    height: 100px;
    background-color: rgb(242,211,124);
    margin-left: 10px;
    font-size: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 7%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inteiro {
    position: relative;
    bottom: 80px;
    width: 360px;
    height: 100px;
    background-color: rgb(242,211,124);
    margin-left: 10px;
    font-size: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 7%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-sections p {
    position: relative;
    top: 20px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-sections hr{
    width: 270px;
    height: 1px;
    border: 1px;
    border-top: 3px solid rgb(242,211,124);
    background-color: rgb(242,211,124);
    border-radius: 80px;
    margin-right: 120px;
}

.container-sections a {
    text-decoration: none;
}

.container-menu-bar {
    display: flex;
    margin-top: 40px;
    width: 400px;
    height: 60px;
    gap: 29px;
    /*background-color: rgb(255, 0, 0);*/
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.sections-menu-bar {
    position: relative;
    left: 20px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    opacity: 0.3;
}

.sections-menu-bar span {
    position: relative;
    left: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.sections-menu-bar a {
    text-decoration: none;
}

.container-menu-bar img {
    width: 100%;
}

#press-effect:hover{
    opacity: 1;
}

#notifications:hover {
    cursor: pointer;
}

.opinion{
    text-align: center;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}