* {
    color: #2C2C2C;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #F0F0F0;
    overflow: hidden;
}

.container-accessibility-buttons {
    display: flex;
    position: relative;
    top: 50px;
    margin-left: 1700px;
    width: 100px;
    height: 30px;
    gap: 1px;
    z-index: 1;
}

.container-accessibility-buttons img {
    margin-left: 30px;
    width: 30px;
    height: 30px;
}


h1 {
    margin-left: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.container-sections {
    position: relative;
    top: 30px;
    margin-left: 35px;
}

.container-sections p {
    position: relative;
    top: 20px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-sections hr {
    position: relative;
    right: 1480px;
    width: 270px;
    height: 1px;
    border: 1px;
    border-top: 3px solid rgb(242, 211, 124);
    background-color: rgb(242, 211, 124);
    border-radius: 80px;
    margin-right: 120px;
}

.container-sections a {
    text-decoration: none;
}

.container-menu-bar {
    position: relative;
    margin-top: 25%;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 60px;
    gap: 350px;
}

.sections-menu-bar {
    position: relative;
    left: -170px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    opacity: 0.3;
}

.sections-menu-bar span {
    position: relative;
    left: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.sections-menu-bar a {
    text-decoration: none;
}

.container-menu-bar img {
    width: 100%;
}

#funcionarios {
    position: relative;
    left: 20px;
}

#press-effect:hover {
    opacity: 1;
}

#notifications:hover {
    cursor: pointer;
}

.container-func {
    display: flex;
}

.container-amarelo {
    width: 250px;
    height: 250px;
    background-color: rgb(242, 211, 124);
    margin-left: 35px;
    gap: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
}

.container-amarelo img {
    width: 300px;
    height: 300px;
    position: relative;
    right: 25px;
    bottom: 45px;

}



/*width : 476*/

@media screen and (max-width: 480px) {

    h1 {
        position: relative;
        left: -28px;
        bottom: -21px;
        font-size: 22px;
    }

    #title {
        position: relative;
        top: -20px;
    }

    .container-accessibility-buttons {
        position: relative;
        right: 1380px;
        top: 27px;
        gap: 16px;
    }

    .container-accessibility-buttons img {
        margin-left: 0;
        width: 26px;
        height: 26px;
    }

    .container-menu-bar {
        position: fixed;
        left: 145px;
        top: 660px;
        gap: 40px;
        z-index: 999;

    }

    .container-menu-bar img {
        left: 5px;
        width: 46px;
        height: 46px;
    }

    .container-func {
        position: relative;
        right: 35px;
        display: inline-block;
    }

    .container-amarelo {
        width: 180px;
        height: 180px;
        background-color: rgb(242, 211, 124);
        margin-left: 35px;
        gap: 25px;
        text-align: center;
        text-decoration: none;
        border-radius: 12px;
        margin-bottom: 20px;
    }

    .container-amarelo img {
        width: 130%;
        height: 130%;
    }
}