body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-color: #afafaf;
    overflow-y: hidden;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.container_amarelo {
    max-width: 650px;
    margin: 0 auto;
    background-color: rgb(242, 211, 124);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;

}

.container_status {
    display: flex;
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

h1 {
    background-color: #f0f0f0;
}

h2 {
    background-color: rgb(242, 211, 124);
}

h3 {
    color: #9b1212;
}

img {
    max-width: 100px;
    max-height: 150px;
    background-color: rgb(242, 211, 124);
}

.relogio {
    background-color: rgb(242, 211, 124);
}

.alerta {
    background-color: rgb(242, 211, 124);
}

.container_alertas {
    display: flex;
    max-width: 400px;
    max-height: 500px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.flex {
    display: flex;
    background-color:rgb(242, 211, 124);
}
