.container {
    max-width: 650px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.container_amarelo {
    max-width: 650px;
    margin: 0 auto;
    background-color: rgb(242, 211, 124);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.modo_noturno {
    max-width: 50px;
    max-height: 50px;
}

.modo_noturno img {
    width: 80%;
    background-color:#f0f0f0;
}
.seta img {
    width: 40%;
    background-color:#f0f0f0;
}

img {
    max-width: 100px;
    max-height: 100px;
    background-color:#f0f0f0;
}

.flex {
    display: flex;
    background-color:#f0f0f0;
}

.containerum {  
    text-align:center;
    background-color: rgb(242, 211, 124);
    padding-bottom: 5px;
    box-sizing: border-box;
    display: flex;
    margin-top: 100px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    margin-bottom: 50px; 
    height: 50px;
    
}

.containerum input {
    height: 45px;
    width: 500px;
    background-color: rgb(242, 211, 124);
    border-radius: 10px;
}

.flex {
    display: flex;
    background-color: rgb(242, 211, 124);
}

#topo {
    justify-content: space-between;
    display: flex;
    background-color:#f0f0f0;
}

