body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: #F0F0F0;
    overflow-y: hidden;
}

.container-logo {
    display: flex;
    justify-content: center;
}

.container-logo-senai {
    display: flex;
    justify-content: center;
}

.container-logo-senai img {
    margin-top: 700px;
    position: relative;
    bottom: 230px;
    width: 50%;
}

.container-logo img {
    position: relative;
    width: 70%;
    top: 340px;
}