* {
    color: #2C2C2C;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: #F0F0F0;
    overflow-y: hidden;
}

.container-accessibility-buttons {
    display: flex;
    position: relative;
    bottom: 28px;
    margin-left: 250px;
    width: 100px;
    height: 30px;
    gap: 1px;
    z-index: 1;
}

.container-accessibility-buttons img {
    margin-left:100px;
    width: 30px;
    height: 30px;
}

#funcionarios {
    position: relative;
    left: 20px;
}

h1{
    position: relative;
    left: 15px;
    bottom: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
}

.container-sections {
    position: relative;
    bottom: 80px;
    margin-left: 10px;
}

.container-sections p {
    position: relative;
    top: 20px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-sections hr{
    width: 270px;
    height: 1px;
    border: 1px;
    border-top: 3px solid rgb(242,211,124);
    background-color: rgb(242,211,124);
    border-radius: 80px;
    margin-right: 120px;
}

.container-sections a {
    text-decoration: none;
}

.container-menu-bar {
    display: flex;
    margin-top: 40px;
    width: 400px;
    height: 60px;
    gap: 29px;
    /*background-color: rgb(255, 0, 0);*/
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    right: 15px;
}

.sections-menu-bar {
    position: relative;
    left: 20px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    opacity: 0.3;
}

.sections-menu-bar span {
    position: relative;
    left: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.sections-menu-bar a {
    text-decoration: none;
}

.container-menu-bar img {
    width: 100%;
}

#press-effect:hover{
    opacity: 1;
}

#notifications:hover {
    cursor: pointer;
}
.border{
    width: 110%;
    height: 280px;
    background-color: rgb(242,211,124);
    position: relative;
    margin-bottom: 300px;
    
}
.second{
    width: 100%;
    height: 500px;
    background-color: #F0F0F0;
    position: relative;
    top: 160px;
    position: relative;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
    
}
.second p{
    font-size: 18px;
    margin-left: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
width: 150px;
height: 42px;
background-color:#F0F0F0;
border-radius: 70px;
border: 1px rgb(242,211,124);
color: #948c8c;
}

#ativo-desde{
    width: 220px;
    height: 42px;
    background-color:#F0F0F0;
    border-radius: 70px;
    border: 1px rgb(242,211,124);
    color: #948c8c;
    } 

#email{
width: 380px;
height: 42px;
background-color:#F0F0F0;
 border-radius: 70px;
border: 1px rgb(242,211,124);
color: #948c8c;
 } 

 #telefone{
width: 250px;
height: 42px;
background-color:#F0F0F0;
 border-radius: 70px;
border: 1px rgb(242,211,124);
color: #948c8c;
 }

 #endereco{
    width: 380px;
    height: 120px;
    background-color:#F0F0F0;
     border-radius: 30px;
    border: 1px rgb(242,211,124);
    color: #948c8c;
     }  

.border img{
    width: 180px;
    border-radius: 70%;
}
.imagem{
    max-width: 100%;
    width: 120px;
    height: 120px;
    align-items:center;
    border-radius:70px;
    margin-left: 120px;
   
}
