* {
    color: #2C2C2C;
}

body {
    background-color: #F0F0F0;
    overflow: hidden;
}

.container-accessibility-buttons {
    display: flex;
    position: relative;
    top: 50px;
    margin-left: 1700px;
    width: 100px;
    height: 30px;
    gap: 1px;
    z-index: 1;
}

.container-accessibility-buttons img {
    margin-left: 30px;
    width: 30px;
    height: 30px;
}
 
#funcionarios {
    position: relative;
    left: 20px;
}

h1{
    margin-left: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
}

#map {
    width: 2000px;
    height: 750px;
    z-index: 1;
}

.api-maps {
    position: relative;
    bottom: 20px;
    width: 2000px;
    height: 750px;
    z-index: 1;
    border-radius: 5px;
}

.container-menu-bar {
    position: relative;
    left: 5px;
    margin-top: 0.5%;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 60px;
    gap: 350px;
}

.sections-menu-bar {
    position: relative;
    left: 6px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    opacity: 0.3;
}

.sections-menu-bar span {
    position: relative;
    left: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.sections-menu-bar a {
    text-decoration: none;
}

.container-menu-bar img {
    width: 100%;
}

#press-effect:hover{
    opacity: 1;
}

#notifications:hover {
    cursor: pointer;
}

@media(max-height: 866px) {
    
    h1 {
        position: relative;
        right: 23px;
    }
    
    .container-accessibility-buttons {
        position: relative;
        right: 1400px;
    }

    .container-menu-bar {
        position: relative;
        left: -30px;
        bottom: 36px;
        gap: 55px;
        z-index: 1;

    }

    #map {
        margin-top: 45px;
        width: 450px;
        height: 680px;
        z-index: 1;
    }
    
 
    
}