body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-color: #afafaf;
    overflow-y: hidden;
}

.container-logo {
    display: flex;
    justify-content: center;
}

.container-logo-senai {
    display: flex;
    justify-content: center;
}

.container-logo-senai img {
    margin-top: 700px;
    position: relative;
    bottom: 90px;
}

.container-logo img {
    position: relative;
    width: 70%;
    top: 300px;
}